* {
	margin: 0;
	padding: 0;
	font-family: 'Inter', serif;
}

button{
	cursor: pointer;
}

body, html {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -100;
	overflow-x: hidden;
}

.top-menu {
	width: 1560px;
	margin: 0 auto;
	margin-top: 17px;
}

.top-menu > div {
	display: flex;
	gap: 245px;
	height: 42px;
	justify-content: space-between;
	align-items: center;
}

.top-menu > div div {
	display: flex;
	gap: 45px;
	height: 100%;
	align-items: center;
	padding-bottom: 10px;
}

.top-menu > .right-side {
	display: flex;
	align-items: center;
}

.top-menu-button {
	color: #97A1B0;
	font-size: 20px;
	letter-spacing: -0.5px;
	height: 100%;
	border: none;
	background-color: transparent;
}

.tel-contact {
	font-weight: 500;
	text-align: center;
}

.top-menu-button-active {
	cursor: pointer;
	color: #1A1A1A;
	box-shadow: 0 5px 0 0 black;
}

.top-menu-button:hover {
	cursor: pointer;
	color: #1A1A1A;
	box-shadow: 0 5px 0 0 black;
}

header {
	display: flex;
	position: relative;
	margin: 0 auto;
	margin-top: 34px;
	z-index: 1000;
	width: 1560px;
	flex-direction: column;
	justify-content: space-between;
}

header > .up-side {
	display: flex;
}

header > .up-side > .buttons {
	display: flex;
	align-items: center;
	margin-left: auto;
	gap: 34px;
}

header > .up-side > .mobile-buttons {
	display: none;
	align-items: center;
	margin-left: auto;
	gap: 24px;
}

header > .up-side > .buttons > .text {
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 600;
	background-color: transparent;
	color: #1A1A1A;
	cursor: pointer;
}

header > .up-side > .buttons > .negative {
	color: #FFFFFF;
	padding: 20px 25px;
	background-color: #1A1A1A;
}

.dropdown-menu {
	position: absolute;
	display: flex;
	opacity: 0;
	justify-content: center;
	background-color: white;
	top: 100%;
	width: 100%;
	margin: 0 auto;
	gap: 105px;
	z-index: 1000;
	transition: ease-in-out 0.25s;
	border-top: solid 1px #E3E8ED;
}

.dropdown-menu > div {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.dropdown-menu .head-text {
	margin-bottom: 22px;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 20px;
	color: #1A1A1A;
}

.dropdown-menu > div > .main-text {
	font-size: 25px;
	color: #97A1B0;
	text-wrap: nowrap;
	display: flex;
	align-items: center;
	gap: 8px;
}

.dropdown-menu > div > .main-text:hover {
	cursor: pointer;
	color: #29ABE2;
}

.crown-icon {
	position: relative;
	left: -40px;
}

.head-text-img {
	font-size: 31px;
	font-weight: 600;
	color: #1A1A1A;
}

.main-text-img {
	max-width: 492px;
	font-size: 22px;
	color: #97A1B0;
	line-height: 34px;
	padding-bottom: 89px;
}

header > .up-side > .buttons > .text:hover {
	box-shadow: 0 5px 0 0 #29ABE2;
	color: #29ABE2;
}

.true-rem {
	margin: 0 auto;
	width: 1560px;
	margin-top: 90px;
}

.true-rem > .text-box {
	width: fit-content;
}

.true-rem > .text-box > .head-text-big {
	font-size: 90px;
	font-weight: 900;
	width: fit-content;
}

.true-rem > .text-box > .head-text {
	font-size: 25px;
	margin-top: 44px;
	width: fit-content;
}

.slider-container {
	position: relative;
	width: 100%;
	margin-top: 90px;
	overflow: hidden;
}

.slider-container .slider-track {
	display: flex;
	position: relative;
	transition: transform 0.5s ease-in-out;
}

.slider-container .slider-track .slider-item {
	position: relative;
	min-width: 100%;
}

.slider-container .slider-track .slider-item img {
	max-width: 100%;
	min-height: 100%;
}

.slider-container .slider-track .slider-item button {
	cursor: pointer;
	position: absolute;
	width: 101px;
	height: 101px;
	border: none;
	bottom: 40%;
	left: 45%;
	background-color: white;
}

.slider-container .slider-track .slider-item button::after{
	content: url(./assets/img/play-black.svg);
}

.slider-container .slider-track .slider-item button:hover::after{
	content: url(./assets/img/play-blue.svg);
}

.slider-container .slider-controls {
	position: absolute;
	bottom: 131px;
	right: 0px;
	display: flex;
	gap: 3px;
}

.slider-container .slider-controls .control-btn {
	width: 67.47px;
	height: 67.47px;
	background-color: #1A1A1A;
	border: none;
	cursor: pointer;
}

.slider-container .slider-controls .control-btn img {
	width: 22.5px; 
	height: 22px;
}

.slider-container .text-box {
	display: flex;
	justify-content: center;
	align-items: start;
	margin-top: 45px;
}

.slider-container .text-box .description {
	display: flex;
	flex-direction: column;
	margin-right: auto;
	gap: 19px;
}

.slider-container .text-box .description .head-text {
	font-size: 31px;
	font-weight: 700;
	color: #1A1A1A;
	width: fit-content;
	border-bottom: solid 1px #E3E8ED;
	text-wrap: nowrap;
}

.slider-container .text-box .description .head-text br{
	display: none;
}

.slider-container .text-box .description .main-text {
	font-size: 22.5px;
	color: #97A1B0;
	text-wrap: nowrap;
}

.slider-container .text-box .slide-counter {
	font-size: 25px;
	color: #97A1B0;
	letter-spacing: -0.5px;
	text-wrap: nowrap;
}

.key-areas {
	width: 1560px;
	margin: 0 auto;
	margin-top: 157px;
	margin-bottom: 157px;
}

.key-areas> .head-text {
	font-size: 67.5px;
	font-weight: 900;
	color: #1A1A1A;
}

.rem-com-rem-pr-items {
	display: flex;
	margin-top: 78px;
	margin-bottom: 56px;
	padding-bottom: 5px;
	gap: 56px;
	border-bottom: solid 1px #E3E8ED;
}

.rem-com-rem-pr-items .rem-com-rem-pr-item {
	font-size: 25px;
	color: #97A1B0;
	height: 53px;
	text-wrap: nowrap;
}

.rem-com-rem-pr-items .rem-com-rem-pr-item-1 {
	cursor: pointer;
	font-weight: 700;
	box-shadow: 0 5px 0 0 black;
	color: #1A1A1A;
}

.rem-com-rem-pr-items .rem-com-rem-pr-item-2 {
	width: 378px;
}

.rem-com-rem-pr-items .rem-com-rem-pr-item-3 {
	width: 177px;
}

.rem-com-rem-pr-items .rem-com-rem-pr-item-4 {
	width: 181px;
}

.rem-com-rem-pr-items .rem-com-rem-pr-item:hover {
	cursor: pointer;
	font-weight: 700;
	box-shadow: 0 5px 0 0 black;
	color: #1A1A1A;
}

.key-areas .areas-items {
	overflow: hidden;
}

.key-areas .areas-items-inner {
	display: flex;
	width: 120%;
	gap: 42px;
}

.key-areas .areas-items-inner .areas-item {
	width: 492px;
}

.key-areas .areas-items-inner .areas-item .head-text {
	margin-top: 34px;
	margin-bottom: 18px;
	width: fit-content;
	font-size: 31px;
	font-weight: 700;
	border-bottom: solid 1px #E3E8ED;
}

.key-areas .areas-items-inner .areas-item .price {
	font-size: 22.5px;
	color: #97A1B0;
}

.key-areas .areas-items-inner .areas-item .head-text:hover {
	color: #29ABE2;
	cursor: pointer;
}

.key-areas .areas-items-inner .areas-item .head-text:hover + .price {
	color: #1A1A1A;
}

.with-work-us {
	width: 100%;
	background-color: #1A1A1A;
	padding: 90px 0px;
}

.with-work-us p {
	color: white;
}

.with-work-us-inner {
	width: 1560px;
	margin: 0 auto;
}

.with-work-us-inner > .head-text {
	font-size: 67.5px;
	font-weight: 900;
	letter-spacing: -0.5px;
	margin-bottom: 67px;
}

.with-work-us-inner .mean-items {
	display: flex;
	gap: 45px;
}

.with-work-us-inner .mean-items .mean-item {
	display: flex;
	flex-direction: column;
}

.with-work-us-inner .mean-items .mean-item-1 {
	width: 337px;
}

.with-work-us-inner .mean-items .mean-item-2 {
	width: 358px;
}

.with-work-us-inner .mean-items .mean-item-3 {
	width: 358px;
}

.with-work-us-inner .mean-items .mean-item-4 {
	width: 377px;
}

.with-work-us-inner .mean-items .big-head-text {
	font-size: 67.5px;
	font-weight: 900;
	letter-spacing: -0.5px;
	text-wrap: nowrap;
}

.with-work-us-inner .mean-items .head-text {
	font-size: 31px;
	font-weight: 700;
	margin-top: 5px;
	margin-bottom: 23.5px;
}

.with-work-us-inner .mean-items .main-text {
	font-size: 22.5px;
	color: #97A1B0;
}

.our-projects {
	width: 1560px;
	margin: 0 auto;
	padding: 157px 0px;
}

.our-projects > .head-text {
	font-size: 67.5px;
	font-weight: 700;
	color: #1A1A1A;
	margin-bottom: 78px;
}

.our-projects-inner {
	display: flex;
	flex-direction: column;
}

.our-projects-inner .project {
	display: flex;
	margin-bottom: 40px;
	gap: 42px;
}

.our-projects-inner .project > .img-1{
	content: url(./assets/img/our-project-1.png);
	width: 1026px;
	height: 427px;
}

.our-projects-inner .project > .img-2{
	content: url(./assets/img/our-project-2.png);
	width: 1026x;
	height: 427px;
}

.our-projects-inner .project>div>.head-text {
	font-size: 31px;
	color: #1A1A1A;
	font-weight: 700;
}

.our-projects-inner .project>div>.head-text .br2 {
	display: none;
}

.our-projects-inner .project .grid-layout {
	display: grid;
	gap: 34px;
	margin-top: 45px;
	margin-bottom: 56px;
	grid-template-columns: repeat(2, 159px);
	grid-template-rows: repeat(2, 63.33px);
}

.our-projects-inner .project .grid-layout .head-text {
	font-size: 22.5px;
	color: #97A1B0;
	margin-bottom: 5px;
}

.our-projects-inner .project .grid-layout .main-text {
	font-size: 25px;
	color: #1A1A1A;
}

.our-projects-inner .project .more-about {
	font-size: 20px;
	color: #1A1A1A;
	font-weight: 700;
	border-bottom: solid 1px #E3E8ED;
	padding-bottom: 3px;
	width: fit-content;
}

.our-projects-inner .project:hover >div>.head-text {
	color: #29ABE2;
}

.our-projects-inner .project:hover .more-about {
	cursor: pointer;
	color: #29ABE2;
}

.our-projects-inner button {
	cursor: pointer;
	border: solid 1px #E3E8ED;
	width: 403.5px;
	height: 79px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 17px;
	background-color: transparent;
	font-size: 20px;
	color: #1A1A1A;
	font-weight: 700;
}

.what {
	width: 1560px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 32px;
	margin-bottom: 157px;
}

.what > div {
	display: flex;
	align-items: center;
	gap: 32px;
}

.what > div > p {
	font-size: 67.5px;
	font-weight: 900;
	color: #1A1A1A;
	letter-spacing: -0.5px;
	border-bottom: solid 1px #E3E8ED;
}

.what > p {
	font-size: 25px;
	color: #1A1A1A;
}

.our-client {
	width: 1560px;
	margin: 0 auto;
}

.our-client .top{
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.our-client .slider-cl-controls {
	display: flex;
	align-items: end;
	gap: 3px;
}

.our-client .slider-cl-controls .slide-cl-counter {
	display: none;
}

.our-client .top .slider-cl-controls .control-cl-btn {
	width: 67.47px;
	height: 67.47px;
	background-color: #1A1A1A;
	border: none;
	cursor: pointer;
}

.our-client .top .text-box .head-text {
	font-size: 67.5px;
	font-weight: 900;
	margin-bottom: 22px;
	color: #1A1A1A;
	letter-spacing: -0.5px;
}

.our-client .top .text-box .main-text{
	font-size: 25px;
	color: #1A1A1A;
}

.our-client .slider-cl-container{
	overflow: hidden;
	position: relative;
	margin-top: 79px;
	width: 1560px;
}

.our-client .slider-cl-container #slider-cl-track{
	display: flex;
	transition: transform 0.5s ease-in-out;
}

.slider-cl-container #slider-cl-track .slider-cl-item{
	width: 760px;
	position: relative;
}

.slider-cl-item .image-vid{
	position: relative;
}

.slider-cl-item .image-vid button{
	cursor: pointer;
	position: absolute;
	width: 101px;
	height: 101px;
	border: none;
	bottom: 40%;
	left: 45%;
	background-color: white;
}

.slider-cl-item .text-box{
	display: flex;
	flex-direction: column;
	gap: 6px;
	margin-top: 34px;
}

.slider-cl-item .text-box .head-text{
	font-size: 31px;
	font-weight: 700;
	color: #1A1A1A;
}

.slider-cl-item .text-box .head-text:hover{
	color: #29ABE2;
	cursor: pointer;
}

.slider-cl-item .text-box .main-text{
	font-size: 25px;
	color: #97A1B0;
}

.slider-cl-item .image-vid button::after{
	content: url(./assets/img/play-black.svg);
}

.slider-cl-item .image-vid button:hover::after{
	content: url(./assets/img/play-blue.svg);
}

.our-insta {
	width: 100%;
	margin-top: 157px;
	padding: 90px 0px;
	background-color: #1A1A1A;
}

.our-insta-inner {
	width: 1560px;
	margin: 0 auto;
}

.our-insta-inner .top {
	display: flex;
	align-items: end;
}

.our-insta-inner .top .head-text {
	margin-right: auto;
	width: fit-content;
	color: #FFFFFF;
	font-size: 67.5px;
	font-weight: 900;
	letter-spacing: -0.5px;
}

.our-insta-inner .top .insta-tag {
	width: fit-content;
	color: #29ABE2;
	font-size: 25px;
	font-weight: 700;
}

.our-insta-inner .bottom-inner {
	display: flex;
	margin-top: 67px;
	gap: 42px;
}

.slider-inst-controls{
	display: none;
}

.our-insta-inner .bottom-inner .slider-inst-item {
	width: 358px;
	height: 358px;
}

.our-insta-inner .bottom-inner .slider-inst-item>button {
	position: relative;
	opacity: 0;
	bottom: 210px;
	left: 130px;
	width: 90px;
	height: 90px;
	border: none;
	background-color: #FFFFFF;
	transition: ease-in-out 0.2s;
}

.our-insta-inner .bottom-inner .slider-inst-item:hover button {
	bottom: 220px;
	opacity: 1;
}

.our-partner {
	padding: 90px 0px;
	width: 1731px;
	margin: 0 auto;
	margin-top: 42px;
	background-color: #F9F9F9;
}

.our-partner-inner {
	width: 1560px;
	margin: 0 auto;
}

.our-partner p {
	margin-left: 80px;
	font-size: 67.5px;
	font-weight: 900;
	color: #1A1A1A;
	letter-spacing: -0.5px;
}

.our-partner > div {
	margin-left: 70px;
	width: 110%;
}

.our-partner img {
	width: 259px;
}

.our-qualities {
	display: flex;
	width: 1293px;
	margin: 157px auto;
	flex-direction: column;
	gap: 80px;
}

.our-qualities .quality-1 {
	display: flex;
	gap: 173px;
}

.our-qualities .quality-2 {
	display: flex;
	gap: 243px;
}

.our-qualities .quality-3 {
	display: flex;
	gap: 306px;
}

.our-qualities .head-text {
	font-size: 67.5px;
	font-weight: 900;
	width: fit-content;
	color: #1A1A1A;
	letter-spacing: -0.5px;
}

.our-qualities .main-text {
	font-size: 25px;
	width: 759px;
	color: #1A1A1A;
}

footer{
	padding: 82px 0px;
	width: 100%;
	background-color: #1A1A1A;
}

.footer-inner{
	width: 1560px;
	margin: 0 auto;
}


.footer-inner .top{
	display: flex;
	justify-content: space-between;
	align-items: end;
}

.footer-inner .top .text-box{
	display: flex;
	flex-direction: column;
	gap: 11px;
}

.footer-inner .top .text-box .head-text{
	font-size: 25px;
	color: #97A1B0;
}

.footer-inner .top .text-box .head-text br{
	display: none;
}

.footer-inner .top .text-box .main-text{
	font-size: 67.5px;
	font-weight: 900;
	letter-spacing: -0.5px;
	color: white;
}

.footer-inner .top button{
	width: 299px;
	height: 79px;
	border: solid 1px rgba(227, 232, 237, 0.24);
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 20px;
	font-weight: 700;
	color: white;
	background-color: transparent;
}

.footer-inner .line{
	background-color: rgba(227, 232, 237, 0.12);
	border: none; 
	width: 100%; 
	height: 1px; 
	margin-top: 56px; 
	margin-bottom: 45px;
}

.footer-inner .bottom{
	display: flex;
	justify-content: space-between;
	gap: 222px;
}

.footer-inner .bottom .left .email{
	font-size: 20px;
	color: #29ABE2;
	font-weight: 700;
}

.footer-inner .bottom .left .address{
	font-size: 20px;
	font-weight: 500;
	color: white;
	margin-top: 22px;
	margin-bottom: 56px;
}

.footer-inner .bottom .left .author{
	font-size: 20px;
	color: #97A1B0;
	font-weight: 500;
}

.footer-inner .bottom .left .author span{
	font-size: 20px;
	color: #97A1B0;
	font-weight: 500;
	border-bottom: solid 1px rgba(151, 161, 176, 0.24);
}

.footer-inner .bottom .right{
	display: flex;
	gap: 161px;
}

.footer-inner .bottom .right > div{
	display: flex;
	flex-direction: column;
	gap: 21px;
}

.footer-inner .bottom .right > div p{
	color: white;
	font-size: 20px;
	font-weight: 700;
}

.footer-inner .bottom .right > div p:hover{
	color: #29ABE2;
	cursor: pointer;
}

.footer-inner .bottom .right > div .about-us{
	color: #97A1B0;
}

.footer-inner .bottom .right > div .about-us:hover{
	color: #97A1B0;
	cursor: default;
}

@media (max-width: 400px) {
	.top-menu{
		display: none;
	}

	header{
		width: 328px;
	}

	header .up-side > img{
		width: 180px;
	}

	header .up-side .buttons{
		display: none;
	}

	header .up-side .mobile-buttons{
		display: flex;
	}

	.true-rem{
		width: 328px;
	}

	.true-rem > .text-box > .head-text-big{
		font-size: 34px;
		width: 328px;
	}

	.true-rem > .text-box > .head-text-big br{
		display: none;
	}

	.slider-container .slider-track .slider-item button{
		width: 64px;
		height: 64px;
		bottom: 35%;
		left: 40%;
	}

	.slider-container .slider-track .slider-item button::after{
		content: url(./assets/img/mb-play-black.svg);
	}
	
	.slider-container .slider-track .slider-item button:hover::after{
		content: url(./assets/img/mb-play-blue.svg);
	}

	.slider-container .slider-controls {
		position: absolute;
		top: 415px;
		right: 229px;
		display: flex;
		gap: 3px;
	}

	.slider-container .text-box{
		flex-direction: column;
		justify-content: start;
		height: 205px;
	}

	.slider-container .text-box .description {
		display: flex;
		width: 328px;
		flex-direction: column;
		margin-right: auto;
		gap: 19px;
	}

	.slider-container .text-box .description .head-text {
		font-size: 22px;
		width: 328px;
		border-bottom: none;
		text-wrap: wrap;
	}

	.slider-container .text-box .description .head-text br {
		display: block;
	}

	.slider-container .text-box .description .head-text span {
		border-bottom: solid 1px #E3E8ED;
	}
	
	.slider-container .text-box .description .main-text {
		font-size: 16px;
		text-wrap: wrap;
	}

	.slider-container .text-box .slide-counter {
		margin-left: auto;
		margin-top: 45px;
		font-size: 18px;
		text-wrap: nowrap;
	}

	.slider-container .slider-controls .control-btn {
		width: 48px;
		height: 48px;
		border: none;
	}
	
	.slider-container .slider-controls .control-btn img {
		width: 16px; 
		height: 15.5px;
	}

	.key-areas {
		width: 328px;
		margin: 0 auto;
		margin-top: 72px;
		margin-bottom: 76px;
	}

	.key-areas> .head-text {
		font-size: 28px;
	}

	.rem-com-rem-pr-items {
		margin-top: 32px;
		margin-bottom: 40px;
		gap: 40px;
	}

	.rem-com-rem-pr-items .rem-com-rem-pr-item {
		font-size: 18px;
		height: 38px;
		text-wrap: nowrap;
	}

	.rem-com-rem-pr-items .rem-com-rem-pr-item-2 {
		width: 146px;
	}

	.rem-com-rem-pr-items .rem-com-rem-pr-item-3 {
		width: 177px;
	}

	.rem-com-rem-pr-items .rem-com-rem-pr-item-4 {
		width: 181px;
	}

	.key-areas .areas-items-inner {
		gap: 16px;
	}

	.key-areas .areas-items-inner .areas-item {
		width: 272px;
	}

	.key-areas .areas-items-inner .areas-item img{
		width: 272px;
	}

	.key-areas .areas-items-inner .areas-item .head-text {
		margin-top: 16px;
		margin-bottom: 12px;
		font-size: 22px;
	}

	.key-areas .areas-items-inner .areas-item .price {
		font-size: 16px;
	}

	.with-work-us {
		width: 100%;
		padding: 90px 0px;
	}
	
	.with-work-us p {
		color: white;
	}
	
	.with-work-us-inner {
		width: 328px;
		margin: 0 auto;
	}
	
	.with-work-us-inner > .head-text {
		font-size: 28px;
		margin-bottom: 40px;
	}
	
	.with-work-us-inner .mean-items {
		flex-direction: column;
		gap: 40px;
	}
	
	.with-work-us-inner .mean-items .mean-item {
		display: flex;
		flex-direction: column;
	}
	
	.with-work-us-inner .mean-items .mean-item-1 {
		width: 252px;
	}
	
	.with-work-us-inner .mean-items .mean-item-2 {
		width: 255px;
	}
	
	.with-work-us-inner .mean-items .mean-item-3 {
		width: 255px;
	}
	
	.with-work-us-inner .mean-items .mean-item-4 {
		width: 269px;
	}
	
	.with-work-us-inner .mean-items .big-head-text {
		font-size: 48px;
		text-wrap: nowrap;
	}
	
	.with-work-us-inner .mean-items .head-text {
		font-size: 22px;
		margin-top: 4px;
		margin-bottom: 16px;
	}
	
	.with-work-us-inner .mean-items .main-text {
		font-size: 16px;
	}

	.our-projects {
		width: 328px;
		margin: 75px auto;
		padding: 0;
	}
	
	.our-projects > .head-text {
		font-size: 28px;
		margin-bottom: 32px;
	}
	
	.our-projects-inner {
		display: flex;
		flex-direction: column;
		gap: 0px;
	}
	
	.our-projects-inner .project {
		flex-direction: column;
		gap: 56px;
	}

	.our-projects-inner .project > .img-1{
		content: url(./assets/img/mb-our-project-1.png);
		width: 328px;
		height: 210px;
	}

	.our-projects-inner .project > .img-2{
		content: url(./assets/img/mb-our-project-2.png);
		width: 328px;
		height: 210px;
	}
	
	.our-projects-inner .project>div>.head-text {
		font-size: 22px;
	}

	.our-projects-inner .project>div>.head-text .br2 {
		display: block;
	}

	.our-projects-inner .project>div>.head-text .br1 {
		display: none;
	}
	
	.our-projects-inner .project .grid-layout {
		display: grid;
		gap: 24px;
		margin-top: 45px;
		margin-bottom: 56px;
		grid-template-columns: repeat(2, 113px);
		grid-template-rows: repeat(2, 45px);
	}
	
	.our-projects-inner .project .grid-layout .head-text {
		font-size: 16px;
		margin-bottom: 4px;
	}
	
	.our-projects-inner .project .grid-layout .main-text {
		font-size: 18px;
	}
	
	.our-projects-inner .project .more-about {
		font-size: 14px;
	}
	
	.our-projects-inner button {
		width: 287px;
		height: 56px;
		gap: 12px;
		font-size: 14px;
	}

	.our-projects-inner button img{
		width: 8px;
		height: 13px;
	}

	.what {
		position: relative;
		width: 328px;
		gap: 16px;
		margin-top: 5px;
		margin-bottom: 72px;
	}
	
	.what > div {
		position: relative;
		gap: 16px;
	}

	.what > div > p {
		display: flex;
		border: none;
		flex-direction: column;
	}
	
	.what > div > p span {
		font-size: 28px;
		width: fit-content;
		border-bottom: solid 1px #E3E8ED;
	}

	.what > div img{
		position: absolute;
		width: 32px;
		height: 31px;
		top: 115px;
		bottom: 0;
		left: 295px;
		right: 0;
	}
	
	.what > p {
		font-size: 18px;
		width: 268px;
	}

	.our-client {
		position: relative;
		width: 328px;
		margin: 0 auto;
	}
	
	.our-client .top .text-box .head-text {
		font-size: 29px;
		margin-bottom: 16px;
	}
	
	.our-client .top .text-box .main-text{
		font-size: 16px;
	}

	.our-client .slider-cl-controls {
		position: absolute;;
		top: 495px;
		gap: 4px;
	}

	.our-client .slider-cl-controls .slide-cl-counter {
		display: flex;
		font-size: 18px;
		margin-left: 170px;
		text-wrap: nowrap;
		letter-spacing: -0.5px;
		color: #97A1B0;
	}
	
	.our-client .top .slider-cl-controls .control-cl-btn {
		width: 48px;
		height: 48px;
	}

	.our-client .top .slider-cl-controls .control-cl-btn img{
		width: 16px;
		height: 15.5px;
	}
	
	.our-client .slider-cl-container{
		margin-top: 40px;
		width: 100%;
	}
	
	.our-client .slider-cl-container #slider-cl-track{
		transition: transform 0.5s ease-in-out;
	}
	
	.slider-cl-container #slider-cl-track .slider-cl-item{
		width: 328px;
	}

	.slider-cl-item .image-vid img{
		width: 328px;
		height: 220px;
		aspect-ratio: auto;
	}
	
	.slider-cl-item .image-vid button{
		width: 64px;
		height: 64px;
		bottom: 30%;
		left: 40%;
	}
	
	.slider-cl-item .text-box{
		gap: 12px;
		margin-top: 24px;
	}
	
	.slider-cl-item .text-box .head-text{
		font-size: 22px;
	}
	
	.slider-cl-item .text-box .main-text{
		font-size: 16px;
	}
	
	.slider-cl-item .image-vid button::after{
		content: url(./assets/img/mb-play-black.svg);
	}
	
	.slider-cl-item .image-vid button:hover::after{
		content: url(./assets/img/mb-play-blue.svg);
	}

	.our-insta {
		width: 100%;
		margin: 0 auto;
		padding-bottom: 113px;
		margin-top: 160px;
	}

	.our-insta-inner {
		width: 328px;
		margin: 0 auto;
	}
	
	.our-insta-inner .top {
		display: flex;
		flex-direction: column;
		gap: 16px;
		align-items: start;
	}

	.our-insta-inner .top .head-text {
		font-size: 28px;
	}
	
	.our-insta-inner .top .insta-tag {
		font-size: 18px;
	}

	.our-insta-inner .bottom{
		width: 100%;
		overflow: hidden;
	}

	.our-insta-inner .bottom-inner {
		display: flex;
		margin-top: 67px;
		gap: 30px;
		transition: ease-in-out 0.5s;
	}

	.our-insta-inner .bottom-inner .slider-inst-item{
		width: 255px;
		height: 255px;
	}

	.slider-inst-controls {
		position: absolute;
		margin-top: 32px;
		width: 328px;
		display: flex;
		align-items: center;
		gap: 3px;
	}
	
	.slider-inst-controls .slide-inst-counter {
		margin-left: auto;
		color: #97A1B0;
		font-size: 18px;
		letter-spacing: -0.5px;
		text-wrap: nowrap;
	}
	
	.slider-inst-controls .control-inst-btn {
		width: 40px;
		height: 40px;
		border: none;
		background-color: #1A1A1A;
	}

	.slider-inst-item{
		width: 328px;
	}

	.slider-inst-item img{
		width: 255px;
		height: 255px;
	}

	.our-insta-inner .bottom-inner .slider-inst-item:hover button {
		opacity: 0;
		display: none;
	}

	.our-partner {
		padding: 56px 0;
		width: 328px;
		margin: 0 auto;
		margin-top: 16px;
	}
	
	.our-partner p {
		font-size: 28px;
		margin-left: 16px;
		width: 202px;
	}
	
	.our-partner > div {
		width: 110%;
	}
	
	.our-partner img {
		width: 144px;
		height: 100px;
	}

	.our-qualities {
		display: flex;
		width: 328px;
		margin: 0px auto;
		margin-top: 64px;
		margin-bottom: 80px;
		flex-direction: column;
		gap: 40px;
	}
	
	.our-qualities .quality-1 {
		display: flex;
		flex-direction: column;
		gap: 24px;
	}
	
	.our-qualities .quality-2 {
		display: flex;
		flex-direction: column;
		gap: 24px;
	}
	
	.our-qualities .quality-3 {
		display: flex;
		flex-direction: column;
		gap: 24px;
	}
	
	.our-qualities .head-text {
		font-size: 28px;
	}
	
	.our-qualities .main-text {
		font-size: 25px;
		width: 328px;
		line-height: 140%;
	}

	footer{
		position: relative;
		padding-top: 56px;
		padding-bottom: 102px;
		width: 100%;
	}
	
	.footer-inner{
		position: relative;
		width: 328px;
		margin: 0 auto;
	}
	
	.footer-inner .top{
		display: flex;
		flex-direction: column;
		align-items: start;
	}
	
	.footer-inner .top .text-box{
		display: flex;
		flex-direction: column;
		gap: 0px;
	}
	
	.footer-inner .top .text-box .head-text{
		font-size: 18px;
		margin-bottom: 5px;
	}

	.footer-inner .top .text-box .head-text br{
		display: block;
	}
	
	.footer-inner .top .text-box .main-text{
		font-size: 28px;
	}
	
	.footer-inner .top button{
		width: 213px;
		height: 56px;
		font-size: 14px;
		margin-top: 16px;
	}
	
	.footer-inner .line{
		background-color: rgba(227, 232, 237, 0.12);
		border: none; 
		width: 100%; 
		height: 1px; 
		margin-top: 32px; 
		margin-bottom: 16px;
	}
	
	.footer-inner .bottom{
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: start;
		gap: 0px;
	}
	
	.footer-inner .bottom .left .email{
		font-size: 14px;
	}
	
	.footer-inner .bottom .left .address{
		font-size: 14px;
		margin-top: 16px;
		margin-bottom: 0px;
	}
	
	.footer-inner .bottom .left .author{
		position: absolute;
		top: 622px;
		font-size: 14px;
	}
	
	.footer-inner .bottom .left .author span{
		font-size: 14px;
	}
	
	.footer-inner .bottom .right{
		display: flex;
		margin-top: 32px;
		flex-direction: column;
		gap: 21px;
	}
	
	.footer-inner .bottom .right > div{
		display: flex;
		flex-direction: column;
		gap: 21px;
	}
	
	.footer-inner .bottom .right > div p{
		font-size: 14px;
	}

	.footer-inner .bottom .right > div .about-us{
		color: white;
	}
	
	.footer-inner .bottom .right > div .about-us:hover{
		color: white;
	}
}